.card {
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

:host ::ng-deep .p-dataview {
  width: 100% !important;
}

:host ::ng-deep .p-dataview-content {
  width: 100% !important;
  display: block !important;
  background-color: white !important;
  color: black;
}


@media (max-width: 787px) {
  ::ng-deep .p-paginator-last {
    display: none !important;
  }
  ::ng-deep .p-paginator-first {
    display: none !important;
  }
}
@media (max-width: 349px) {
  /* ::ng-deep .p-paginator-pages{
        display: none !important;
    } */

  ::ng-deep .p-paginator-next {
    display: none !important;
  }

  ::ng-deep .p-paginator-prev {
    display: none !important;
  }

  ::ng-deep .p-paginator-rpp-dropdown {
    display: none !important;
  }
}
