<div class="landing-container">
  <div class="main-content">
      

      <div class="welcome-section">
          <h1 class="welcome-heading">Chào mừng đến với TestApp </h1>
          <p class="tagline">Giải pháp quản lý dữ liệu hiệu quả và trực quan cho mọi nhu cầu của bạn.</p>
          
          <div class="button">
              <button class="btn btn-primary" [routerLink]="['/login']">Đăng nhập</button>
              <button class="btn btn-secondary"[routerLink]="['/register']">Đăng ký</button>
          </div>
      </div>
  </div>
</div>